@media only screen and (max-width: 480px) {
    #main-menu {
        display: flex;
        flex-direction: column;
    }

    #ad-contain {
        display: none;
    }

    #item-list {
        display: flex;
        flex-direction: column;
    }


    .pic-text img{
        width: 100%;
    }
}

@media only screen and (min-width: 480px) {
    .pic-text img {
        height: 200px;
    }
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

#menu-contain {
    padding: 5px;
    width: 100%;
    background-color: #192a56;
}

#main-menu {
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    padding: 10px;
}

#main-menu li {
    margin: 10px;
}

#ad-contain img {
    max-height: 200px;
    width: 100%;
}

#item-list {
    display: flex;
    flex-wrap: wrap;
}

.pic-text {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


